<!Doctype html>
<html lang="ko">

<head>
    <style type="text/css">
        .layout_logo {
            width: 110px;
            height:30px;
            background-color: white;
        }

        .layout_color {
            width: 100%;
            height: 30px;
            background-color: #3fa273;
        }
    </style>
</head>

<body>
    <div class="layout_color">
        <div class="layout_logo">
            <img src="./static/Jungle_logo_2.jpg" width="110px" height="30px">
        </div>
    </div>

    {% block content %}
    {% endblock %}
</body>

</html>